*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

button,
label,
input {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Commissioner', sans-serif !important;
  background-color: #fff;
  color: #7a7a7a;
  position: relative;
}

body.no-slider {
  overflow: hidden;
}

header {
  background: url(../images/image-hero-desktop.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  padding-top: 44px;
}

header::before {
  content: '';
  width: 100%;
  height: 120px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.ui.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 8px 0 9px;
}

.ui.container .logo {
  position: relative;
  z-index: 6;
  width: 11.5%;
  max-width: 275px;
  margin-top: 4px;
}

.ui.container .humburger {
  display: none;
  cursor: pointer;
}

.ui.container .nav-bar {
  z-index: 5;
  width: 20.3%;
  font-size: 13px;
  letter-spacing: 0.2px;
  padding-top: 2px;
}

.ui.container .nav-bar ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ui.container .nav-bar ul li {
  list-style: none;
}

.ui.container .nav-bar ul li a {
  text-decoration: none;
  color: #fff;
}

main {
  width: 50.7%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 280px;
  padding-bottom: 100px;
}

main section {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 24px;
  border: 0.5px solid rgba(60, 180, 172, 0.1);
}

.section1 {
  margin-top: 29px;
  text-align: center;
  padding: 55px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.section1 .main-logo {
  position: absolute;
  width: 7.5%;
  width: 55px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.section1 h1 {
  color: black;
  margin-bottom: 12px;
  font-weight: 700;
  font-family: 'Commissioner', sans-serif;
}

.section1 .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 87%;
  margin-top: 38px;
}

.section1 .buttons button {
  height: 57px;
  -webkit-appearance: unset;
     -moz-appearance: unset;
          appearance: unset;
  border: 1px solid;
  border-radius: 50px;
  padding: 0;
  margin: 0;
  letter-spacing: 0.4px;
  padding-right: 1px;
}

.section1 .buttons .global-back {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 205px;
  background-color: #3cb4ac;
  border: none;
  color: #fff;
  letter-spacing: 0.4px;
  padding-right: 1px;
  font: 700 15px 'Commissioner', sans-serif;
  cursor: pointer;
}

.section1 .buttons .global-back:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #147b74;
}

.section1 .buttons .bookmark {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(122, 122, 122, 0.1);
  font: 700 15px 'Commissioner', sans-serif;
  border: none;
  cursor: pointer;
}

.section1 .buttons .bookmark .bookmark-icon {
  width: 57px;
  height: 57px;
  border-radius: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section1 .buttons .bookmark .bookmark-icon svg {
  width: 100%;
  height: 100%;
}

.section1 .buttons .bookmark .bookmark-icon svg circle {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section1 .buttons .bookmark .bookmark-caption {
  margin-left: 16px;
  color: #7a7a7a;
}

.section1 .buttons .bookmark.bookmarked {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 190px;
  background-color: rgba(122, 122, 122, 0.2);
}

.section1 .buttons .bookmark.bookmarked .bookmark-icon svg circle {
  fill: #147b74;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section1 .buttons .bookmark.bookmarked .bookmark-icon svg path {
  fill: #fff;
}

.section1 .buttons .bookmark.bookmarked .bookmark-caption {
  color: #147b74;
}

.section1 .buttons .bookmark.bookmarked:hover .bookmark-icon svg circle {
  fill: #3cb4ac;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section1 .buttons .bookmark:hover .bookmark-icon circle {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  fill: #7a7a7a;
}

.section2 {
  padding: 50px 48px;
}

.section2 .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 82%;
  padding-bottom: 36px;
}

.section2 .numbers div h2 {
  font-size: 31px;
  font-weight: 700;
  font-family: 'Commissioner', sans-serif;
  margin-bottom: 4px;
  color: black;
}

.section2 .numbers div p {
  letter-spacing: -0.7px;
  font-weight: 500;
  color: rgba(122, 122, 122, 0.7);
}

.section2 .numbers .backers {
  border: none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  width: 44%;
  text-align: center;
}

.section2 .numbers .backers h2,
.section2 .numbers .backers p {
  margin-right: 50px;
}

.section2 .numbers .days-left h2 {
  padding-right: 28px;
}

.section2 .total-money-bar {
  width: 100%;
  height: 12px;
  background-color: rgba(122, 122, 122, 0.2);
  border-radius: 25px;
}

.section2 .total-money-bar .earned-money-bar {
  height: 12px;
  background-color: #3cb4ac;
  border-radius: 25px;
}

.section3 {
  padding: 47px 48px;
}

.section3 .header-pledges h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Commissioner', sans-serif;
  color: black;
  margin-bottom: 33px;
}

.section3 .header-pledges .pledge-description {
  margin-bottom: 40px;
}

.section3 .header-pledges .pledge-description p {
  line-height: 30px;
}

.section3 .header-pledges .pledge-description p:first-child {
  margin-bottom: 30px;
}

.section3 .pledges {
  border: 1px solid rgba(122, 122, 122, 0.2);
  border-radius: 10px;
  padding: 37px 29px 28px;
}

.section3 .pledges .pledge-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 23px;
}

.section3 .pledges .pledge-title h2 {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Commissioner', sans-serif;
  color: black;
}

.section3 .pledges .pledge-title p {
  font-size: 15px;
  margin-right: 2px;
  color: #3cb4ac;
  font-weight: 500;
}

.section3 .pledges .pledge-description {
  letter-spacing: 0.1px;
  line-height: 30px;
  margin-bottom: 24px;
}

.section3 .pledges .pledge-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 .pledges .pledge-info .select {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 156px;
  margin-right: 1px;
  height: 49px;
  border-radius: 50px;
  background-color: #3cb4ac;
  color: #fff;
  letter-spacing: 0px;
  font: 500 14px 'Commissioner', sans-serif;
}

.section3 .pledges .pledge-info .select:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #147b74;
}

.section3 .pledges .pledge-info p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 .pledges .pledge-info p .pledges-left {
  font-size: 33px;
  font-weight: 700;
  color: black;
}

.section3 .pledges .pledge-info p span:last-child {
  margin: 2px 0 0 8px;
}

.section3 .pledges:not(.pledges:last-child) {
  margin-bottom: 25px;
}

.section3 .pledges.disabled {
  border: 1px solid rgba(122, 122, 122, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section3 .pledges.disabled .pledge-title h2 {
  color: #7a7a7a;
}

.section3 .pledges.disabled .pledge-title p {
  color: rgba(60, 180, 172, 0.4);
}

.section3 .pledges.disabled .pledge-description {
  color: rgba(122, 122, 122, 0.4);
}

.section3 .pledges.disabled .pledge-info .select {
  background-color: #7a7a7a;
  font: 700 13px 'Commissioner', sans-serif;
  pointer-events: none;
}

.section3 .pledges.disabled .pledge-info p .pledges-left {
  color: #7a7a7a;
}

.section3 .pledges.disabled .pledge-info p span:last-child {
  color: rgba(122, 122, 122, 0.4);
}

.section3 .pledges.disabled:not(.pledges:last-child) {
  margin-bottom: 25px;
}

.ui.modal.pledges {
  width: 50.7%;
  padding: 22px 47px 24px;
}

.ui.modal.pledges > .close {
  top: 1.4rem;
  right: 1.4rem;
  color: #7a7a7a;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ui.modal.pledges > .close:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: black;
}

.ui.modal.pledges .header {
  padding: 0;
  border: none;
  margin-bottom: 36px;
}

.ui.modal.pledges .header h1 {
  margin: 24px 0 18px;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Commissioner', sans-serif;
}

.ui.modal.pledges .header p {
  font-family: 'Commissioner', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(122, 122, 122, 0.7);
}

.ui.modal.pledges .modal-pledge {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid rgba(122, 122, 122, 0.2);
  border-radius: 10px;
  padding: 35px 0 0 0;
}

.ui.modal.pledges .modal-pledge .pledge-header {
  margin-left: 28px;
}

.ui.modal.pledges .modal-pledge .pledge-header label {
  font-family: 'Commissioner', sans-serif;
  font-weight: 700;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: black;
  font-size: 16px;
  letter-spacing: 0.1px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ui.modal.pledges .modal-pledge .pledge-header label:hover {
  color: #3cb4ac;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ui.modal.pledges .modal-pledge .pledge-header label:hover .real-button {
  border-color: #3cb4ac;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ui.modal.pledges .modal-pledge .pledge-header label .checked {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.ui.modal.pledges .modal-pledge .pledge-header label .checked:checked ~ .real-button {
  background-color: #fff;
}

.ui.modal.pledges .modal-pledge .pledge-header label .checked:checked ~ .real-button::after {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 12px;
  height: 12px;
  background: #3cb4ac;
  opacity: 100%;
}

.ui.modal.pledges .modal-pledge .pledge-header label .real-button {
  display: inline-block;
  height: 25px;
  width: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #fff;
  border: 1px solid rgba(122, 122, 122, 0.2);
  border-radius: 50%;
  margin-right: 22px;
  position: relative;
}

.ui.modal.pledges .modal-pledge .pledge-header label .real-button::after {
  content: '';
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  display: block;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
}

.ui.modal.pledges .modal-pledge.modal-pledge-noreward {
  margin-bottom: 23px;
}

.ui.modal.pledges .modal-pledge.modal-pledge-noreward .pledge-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.ui.modal.pledges .modal-pledge.modal-pledge-noreward .pledge-header + p {
  margin: 6px 0 30px 76px;
  letter-spacing: -0.43px;
  line-height: 29.3px;
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.ui.modal.pledges .modal-pledge.limited-pledge {
  margin-bottom: 23px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'sec1 sec1 sec1 sec2' 'sec3 sec3 sec3 sec3' '. . . .' 'sec4 sec4 sec4 sec4';
}

.ui.modal.pledges .modal-pledge.limited-pledge .pledge-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 21px 10px 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: sec1;
}

.ui.modal.pledges .modal-pledge.limited-pledge .pledge-header .radio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ui.modal.pledges .modal-pledge.limited-pledge .pledge-header .radio-button label {
  margin-right: 17px;
}

.ui.modal.pledges .modal-pledge.limited-pledge .pledge-header .radio-button .limit {
  font-size: 15px;
  letter-spacing: 0.5px;
  font-family: 'Commissioner', sans-serif;
  font-weight: 500;
  color: #3cb4ac;
}

.ui.modal.pledges .modal-pledge.limited-pledge .pledge-header + p {
  margin: 0 10px 31px 76px;
  font-size: 16px;
  font-family: 'Commissioner', sans-serif;
  letter-spacing: -0.44px;
  line-height: 28px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: sec3;
}

.ui.modal.pledges .modal-pledge.limited-pledge .back-left {
  margin: -3px 0px 0 35px;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: sec2;
}

.ui.modal.pledges .modal-pledge.limited-pledge .back-left span:last-child {
  margin-left: 3px;
}

.ui.modal.pledges .modal-pledge.limited-pledge .pledges-left {
  font-family: 'Commissioner', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: rgba(122, 122, 122, 0.7);
  margin-right: 3px;
  color: black;
}

.ui.modal.pledges .modal-pledge.limited-pledge.select-75-pledge .pledge-header + p {
  margin-right: 40px;
}

.ui.modal.pledges .modal-pledge .payment {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  max-height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: sec4;
}

.ui.modal.pledges .modal-pledge .payment p:first-child {
  font-size: 15px;
}

.ui.modal.pledges .modal-pledge .payment .pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ui.modal.pledges .modal-pledge .payment .pay .proceed {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 108px;
  height: 47px;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: #3cb4ac;
  font-family: 'Commissioner', sans-serif;
  margin-left: 15px;
  cursor: pointer;
}

.ui.modal.pledges .modal-pledge .payment .pay .proceed:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #147b74;
}

.ui.modal.pledges .modal-pledge .payment .pay .ui.label {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100px;
  height: 47px;
  border: 1px solid;
  border-radius: 25px;
  background-color: #fff;
  cursor: pointer;
}

.ui.modal.pledges .modal-pledge .payment .pay .ui.label input {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 100%;
  width: 65%;
  font-weight: 700;
  font-family: 'Commissioner', sans-serif;
  text-align: start;
  border: none;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  margin-left: 7px;
  outline: none;
  cursor: pointer;
}

.ui.modal.pledges .modal-pledge .payment .pay .ui.label.error {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-color: red;
}

.ui.modal.pledges .modal-pledge .payment .pay .ui.label.error input {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: red;
}

.ui.modal.pledges .modal-pledge .payment .pay .ui.label:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-color: #147b74;
}

.ui.modal.pledges .modal-pledge .payment::before {
  content: '';
  position: absolute;
  top: 0;
  left: -28px;
  width: calc(100% + 28px);
  border: 1px solid rgba(122, 122, 122, 0.2);
}

.ui.modal.pledges .modal-pledge.modal-pledge-noreward.disabled, .ui.modal.pledges .modal-pledge.limited-pledge.disabled {
  border: 1px solid rgba(122, 122, 122, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ui.modal.pledges .modal-pledge.modal-pledge-noreward.disabled .pledge-header .radio-button label, .ui.modal.pledges .modal-pledge.limited-pledge.disabled .pledge-header .radio-button label {
  color: #7a7a7a;
  cursor: default;
  pointer-events: none;
}

.ui.modal.pledges .modal-pledge.modal-pledge-noreward.disabled .pledge-header .radio-button label input, .ui.modal.pledges .modal-pledge.limited-pledge.disabled .pledge-header .radio-button label input {
  pointer-events: none;
}

.ui.modal.pledges .modal-pledge.modal-pledge-noreward.disabled .pledge-header .radio-button .real-button, .ui.modal.pledges .modal-pledge.limited-pledge.disabled .pledge-header .radio-button .real-button {
  border: 1px solid rgba(122, 122, 122, 0.2);
}

.ui.modal.pledges .modal-pledge.modal-pledge-noreward.disabled .pledge-header .radio-button .limit, .ui.modal.pledges .modal-pledge.limited-pledge.disabled .pledge-header .radio-button .limit {
  color: rgba(60, 180, 172, 0.4);
}

.ui.modal.pledges .modal-pledge.modal-pledge-noreward.disabled .pledge-header .back-left .pledges-left, .ui.modal.pledges .modal-pledge.limited-pledge.disabled .pledge-header .back-left .pledges-left {
  color: #7a7a7a;
}

.ui.modal.pledges .modal-pledge.modal-pledge-noreward.disabled .pledge-header .back-left span:last-child, .ui.modal.pledges .modal-pledge.limited-pledge.disabled .pledge-header .back-left span:last-child {
  color: rgba(122, 122, 122, 0.4);
}

.ui.modal.pledges .modal-pledge.modal-pledge-noreward.disabled .pledge-header + p, .ui.modal.pledges .modal-pledge.limited-pledge.disabled .pledge-header + p {
  color: rgba(122, 122, 122, 0.4);
}

.ui.modal.pledges .modal-pledge.on {
  -webkit-transition: border-color 0.7s;
  transition: border-color 0.7s;
  border-color: #3cb4ac;
}

.ui.modal.pledges .modal-pledge.on .limit {
  font-weight: 700;
}

.ui.modal.pledges .modal-pledge.on .payment {
  max-height: 1000px;
  padding: 25px 28px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.thanks {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.thanks.closed {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: none;
}

.thanks .dim {
  position: absolute;
  background-color: rgba(122, 122, 122, 0.2);
  opacity: 80%;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background: black;
}

.thanks .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 100%;
  z-index: 10;
  width: 37.6%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 450px;
  text-align: center;
}

.thanks .content .done {
  width: 90px;
  margin: 47px 0 46px;
}

.thanks .content .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.thanks .content .description .ui.header {
  font-size: 25px;
  letter-spacing: -0.4px;
  font-family: 'Commissioner', sans-serif;
  margin-bottom: 14px;
}

.thanks .content .description p:last-child {
  width: 82%;
  line-height: 30px;
}

.thanks .content .ui.positive {
  width: 106px;
  margin-left: 3px;
  height: 48px;
  border-radius: 25px;
  background-color: #3cb4ac;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.thanks .content .ui.positive:hover {
  background-color: #147b74;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 1100px) {
  header {
    height: 300px;
    background: url(../images/image-hero-mobile.jpg);
    background-size: cover;
    padding-top: 28px;
  }
  .ui.container .logo {
    width: 39%;
  }
  .ui.container .nav-bar {
    position: absolute;
    top: -10000px;
    left: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 100vw;
    opacity: 0;
  }
  .ui.container .nav-bar.open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .ui.container .nav-bar.open + .humburger {
    display: block;
    z-index: 1000;
  }
  .ui.container .nav-bar.open + .humburger hr {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .ui.container .nav-bar.open + .humburger .top-line {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: -16px;
    margin-top: 13px;
  }
  .ui.container .nav-bar.open + .humburger .middle-line {
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .ui.container .nav-bar.open + .humburger .bottom-line {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .ui.container .nav-bar div {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
    background: linear-gradient(to bottom, black, transparent);
    opacity: 80%;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .ui.container .nav-bar ul {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    width: 87%;
    top: 88px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 100%;
    z-index: 1000;
    border-radius: 5px;
  }
  .ui.container .nav-bar ul li {
    width: 100%;
    height: 70.6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 22px;
  }
  .ui.container .nav-bar ul li:not(li:last-child) {
    border-bottom: 1px solid rgba(122, 122, 122, 0.2);
  }
  .ui.container .nav-bar ul li a {
    color: black;
    font-size: 18px;
    font-family: 'Commissioner', sans-serif !important;
    font-weight: 500;
  }
  .ui.container .humburger {
    position: relative;
    display: block;
    width: 16px;
  }
  .ui.container .humburger hr {
    margin-bottom: -5.7px;
    border: 1px solid #fff;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 1px;
    border-radius: 25px;
  }
  .ui.container .humburger .top-line {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .ui.container .humburger .middle-line {
    opacity: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .ui.container .humburger .bottom-line {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    margin-bottom: 0;
  }
  main {
    width: 87.5%;
    top: 215px;
  }
  .section1 {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .section1 h1 {
    font-size: 20px;
    width: 60%;
    margin-bottom: 16px;
  }
  .section1 p {
    font-size: 14px;
    width: 85%;
    line-height: 23px;
  }
  .section1 .buttons {
    width: 85%;
    margin-top: 24px;
  }
  .section1 .buttons .global-back {
    width: 213px;
  }
  .section1 .buttons .bookmark {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .section1 .buttons .bookmark .bookmark-caption {
    display: none;
  }
  .section1 .buttons .bookmark.bookmarked {
    width: 58px;
  }
  .section2 {
    padding: 31px 27px 39px;
  }
  .section2 .numbers {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-bottom: 29px;
  }
  .section2 .numbers div {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .section2 .numbers div h2 {
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 7px !important;
  }
  .section2 .numbers div p {
    margin: 0;
    padding: 0;
  }
  .section2 .numbers div:not(div:last-child) {
    margin-bottom: 22px;
  }
  .section2 .numbers .earnings p {
    font-size: 15px;
    letter-spacing: -0.6px;
    font-weight: 400;
  }
  .section2 .numbers .backers {
    border: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    width: 37%;
    padding: 23px 0;
    letter-spacing: 1px;
  }
  .section2 .numbers .backers p {
    margin: 0;
    font-size: 16px;
  }
  .section3 {
    padding: 40px 24px;
  }
  .section3 .header-pledges h1 {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .section3 .header-pledges .pledge-description {
    margin-bottom: 35px;
  }
  .section3 .header-pledges .pledge-description p {
    line-height: 24px;
    font-size: 14px;
  }
  .section3 .header-pledges .pledge-description p:first-child {
    margin-bottom: 24px;
  }
  .section3 .pledges {
    padding: 22px 24px 23px;
  }
  .section3 .pledges .pledge-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 23px;
  }
  .section3 .pledges .pledge-title h2 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .section3 .pledges .pledge-title p {
    letter-spacing: -0.5px;
  }
  .section3 .pledges .pledge-description {
    letter-spacing: 0px;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 31px;
  }
  .section3 .pledges .pledge-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section3 .pledges .pledge-info p {
    margin-bottom: 30px;
  }
  .section3 .pledges .pledge-info p .pledges-left {
    letter-spacing: -1px;
  }
  .section3 .pledges .pledge-info p span:last-child {
    margin: 2px 0 0 10px;
    margin: 2px 0 0 10px;
    letter-spacing: -1px;
  }
  .ui.modal.pledges {
    width: 87.4%;
    padding: 22px 10px 24px;
  }
  .ui.modal.pledges > .close {
    top: 1.8rem !important;
    right: 0.9rem !important;
  }
  .ui.modal.pledges .header {
    padding-right: 15px !important;
    margin-bottom: 15px;
  }
  .ui.modal.pledges .header h1 {
    margin: 0px 0 25px;
    font-size: 18px;
  }
  .ui.modal.pledges .header p {
    font-size: 14px;
    line-height: 22px;
  }
  .ui.modal.pledges .modal-pledge {
    width: 91%;
    margin: 0 auto 23px;
    position: relative;
    padding-top: 32px;
  }
  .ui.modal.pledges .modal-pledge .pledge-header {
    margin-left: 22px;
  }
  .ui.modal.pledges .modal-pledge .pledge-header label {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
  .ui.modal.pledges .modal-pledge .pledge-header label .real-button {
    margin-right: 16px;
  }
  .ui.modal.pledges .modal-pledge.modal-pledge-noreward {
    margin-bottom: 25px;
  }
  .ui.modal.pledges .modal-pledge.modal-pledge-noreward .pledge-header + p {
    margin: 33px 0 30px 23px;
    font-size: 15px;
    width: 80%;
    line-height: 24px;
  }
  .ui.modal.pledges .modal-pledge.limited-pledge {
    padding-top: 14px;
    padding-bottom: 9px;
        grid-template-areas: 'sec1' 'sec3' 'sec2' 'sec4';
  }
  .ui.modal.pledges .modal-pledge.limited-pledge .pledge-header {
    position: relative;
    padding: 0 0 10px 0;
  }
  .ui.modal.pledges .modal-pledge.limited-pledge .pledge-header .radio-button {
    position: relative;
  }
  .ui.modal.pledges .modal-pledge.limited-pledge .pledge-header .radio-button label {
    margin-top: -5px;
  }
  .ui.modal.pledges .modal-pledge.limited-pledge .pledge-header .radio-button label .real-button {
    margin-top: 22px;
  }
  .ui.modal.pledges .modal-pledge.limited-pledge .pledge-header .radio-button .limit {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: absolute;
    top: 36px;
    left: 41px;
    letter-spacing: 0px;
    font-size: 14px;
  }
  .ui.modal.pledges .modal-pledge.limited-pledge .pledge-header + p {
    margin: 23px 0 30px 23px;
    font-size: 15px;
    width: 83%;
    line-height: 24px;
  }
  .ui.modal.pledges .modal-pledge.limited-pledge .back-left {
    margin: -6px 0 24px 23px;
    text-align: start;
  }
  .ui.modal.pledges .modal-pledge .payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ui.modal.pledges .modal-pledge.on .payment {
    max-height: 1000px;
    padding: 31px 0px 15px;
    width: 100%;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .ui.modal.pledges .modal-pledge.on .payment::before {
    left: 0;
    width: 100%;
  }
  .ui.modal.pledges .modal-pledge.on .payment p:first-child {
    font-size: 15px;
    letter-spacing: -0.5px;
  }
  .ui.modal.pledges .modal-pledge.on .payment .pay {
    padding-top: 18px;
  }
  .ui.modal.pledges .modal-pledge.on .payment .pay .proceed {
    width: 115px;
    margin-left: 15px;
  }
  .thanks .content {
    top: 50%;
    width: 88%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .thanks .content .done {
    width: 63px;
    margin: 32px 0 21px;
  }
  .thanks .content .description .ui.header {
    font-size: 19px;
    margin-bottom: 24px;
  }
  .thanks .content .description p:last-child {
    line-height: 24px;
    font-size: 13px;
    letter-spacing: 0.44px;
  }
  .thanks .content .ui.positive {
    margin-bottom: 35px;
  }
}
/*# sourceMappingURL=styles.css.map */